{% extends 'core/base.html' %}
{% block content %}
<div class="container py-5">
  <div class="mb-5">
    <div style="display: flex; justify-content: space-between; align-items: center; gap: 20px;">
      <div>
        <h2 style="color: var(--text-dark); font-weight: 600; margin-bottom: 5px;">All Lessons</h2>
        <p style="color: var(--text-light);">Manage your curriculum and lesson plans</p>
      </div>
      <a href="{% url 'core:lesson_add' %}" class="btn btn-success" style="background-color: var(--primary); border: none;">+ Adfdzfhfjfjhgdf