<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homeschool Organizer</title>
    <link rel="stylesheet" href='core/static/core/styles.css'>
</head>
<body>
    <header>
        <h1>{% block header %}Welcome to My Site{% endblock %}</h1>
    </header>
    <main>
        {% block content %}
        <p>This is the default content.</p>
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 My Site</p>
    </footer>
</body>
</html>